# LeetCode Solutions

This repository contains my solutions to various problems on LeetCode. The solutions are implemented in Python (some in cpp).


## Stats  

{% for category in stats%}
- **{{ category }}**: {{stats[category].current}}/{{stats[category].maximum}}  
    ![]({{stats[category].image}}) 
{% endfor %}

## Table of Contents
{% for topic in topics %}
*   [{{topic}}](#{{topic.lower().replace(" ","-")}})
{% endfor %}

## Topics
{% for topic in topics %}

### {{topic}}
{% for problem in topics[topic] %} 

* [{{problem}}](problem)

{% endfor %}
{% endfor %}
