# {{challenge_name}}

## Info  
- **Link**: {{challenge_link}}
- **Difficulty**: {{challenge_difficulty}}  
- **Topics**:   
{% for topic in challenge_topics %}
    - {{ topic }}
{% endfor %}
- **Accuracy rate**: {{challenge_acc}}  

## Description  
    
{{challenge_description}}  
    